<div class="new-note-form">
  <h1>[ New Note ]</h1>

  <label for="category">Category</label>
  <div class="categories">
    <button class="category-button">Work</button>
    <button class="category-button">Personal</button>
    <button class="category-button">Project A</button>
  </div>

  <label for="title">Note's Title</label>
  <input type="text" id="title" placeholder="Title" />

  <label for="context">Context</label>
  <textarea id="context" placeholder="Text..."></textarea>


  <button class="add-note-button">Add Note</button>
</div>
