.schedule {
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  flex-wrap: wrap;
  width: fit-content;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #89B0AE;
  //opacity: 0.7;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.schedule-header h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.calendar {
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.nav-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #666;
}

.days {
  display: flex;
  gap: 10px;
}

.days span {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.days span.active {
  background-color: #555B6E;
  color: white;
}

.task-list {
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.task-list h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.task {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.time {
  font-weight: bold;
  margin-right: 10px;
}

.details {
  border-left: 8px solid #555B6E;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #89B0AE;
}

.details h4 {
  margin: 0;
  font-size: 1em;
}

.details p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.progress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

svg circle {
  fill: none;
  stroke-width: 10;
}

svg .background {
  stroke: #e4e4e4;
}

svg .progress {
  stroke: #FFD6BA;
  stroke-linecap: round;
  stroke-dasharray: 283;
  transition: stroke-dashoffset 0.3s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

.icon {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 100px;
  height: 100px;
  background-color: #FFD6BA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.icon:hover {
  background-color: #FFB684;
}