.calendar-container {
  height: 90%;
  background-color: #f0f0f0;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll
}

.calendar-container::-webkit-scrollbar {
  display: none;
}

.schedule {
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  flex-wrap: wrap;
  width: fit-content;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #89B0AE;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}


.calendar {
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.nav-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #666;
}

.days {
  display: flex;
  gap: 10px;
}

.days span {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.days span.active {
  background-color: #89B0AE;
  color: white;
}

.task-list {
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.task-list h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.task {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  height: 100px;

}

.time {
  font-weight: bold;
  margin-bottom: 10px;
}

.details {
  border-left: 4px solid #89B0AE;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.details h4 {
  margin: 0;
  margin-top: 4px;
  font-size: 1em;
}

.details p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  height: 3em;
}

.filter-area {
  margin-bottom: 4px;
}

#filter {
  margin-left: 4px;
  border-radius: 10px;
  border-color: #dadada;
  outline: none;
}

.complete-task-btn {
  position: absolute;
  right: 3%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #35726f;
  border-radius: 15%;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.complete-task-btn:checked {
  background-color: #35726f;
  border-color: #35726f;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"%3E%3Cpath d="M12.293 4.293a1 1 0 0 1 1.414 1.414L7 11.414 3.293 7.707a1 1 0 0 1 1.414-1.414L7 8.586l5.293-5.293z"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.complete-task-btn:disabled {
  background-color: #35726f;
  border-color: #35726f;
  cursor: not-allowed;
}

.completed {
  border-color: #666;
}

.completed h4 {
  color: #666;
  font-weight: normal;
}