.message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555B6E;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1000;
}

.ring {
    width: 100px;
    height: 100px;
    border: 5px solid #2b6b67;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: absolute;
    bottom: 30%;
    right: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring.active {
    width: 400px;
    height: 550px;
    background-color: #e3e4e4;
    border: 1px solid #89B0AE;
    border-radius: 10px;
    cursor: default;
    padding: 1px;
    ;
    bottom: calc(10% - 225px);
    right: calc(10% - 150px);
}

.inside {
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.back {
    background-color: #e3e4e4;
    height: 10%;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back button:first-child {
    padding-right: 2px;
    outline: none;
    background-color: #e3e4e4
}

.right-buttons {
    width: 88px;
    height: 40px;
    background-color: #e3e4e4;
}

.right-buttons button:first-child {
    margin-right: 8px;
    background-color: #2b6b67;
    margin-top: 0px;
    margin-bottom: 2px;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
}

.right-buttons button:nth-child(2) {
    background-color: #2b6b67;
    outline: none;
    padding-left: 2px;
    padding-top: 1px;
}

.back-icon-show {
    color: #2b6b67;
}

.back-icon-hide {
    color: #e3e4e4;
}

.x-icon {
    stroke-linecap: round;
    stroke: white;
    stroke-width: 2;
    fill: none;
}

.top-btn {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    ;
}

.optns {
    height: 90%;
    padding-bottom: 5px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dd {
    background-color: transparent;
    width: 100%;
    padding: 2px;
}

.menbtn {
    margin: 5px;
    width: 98%;
    background-color: #89B0AE;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    height: 50px;
}

.ringbtn {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #89B0AE;
    cursor: pointer;
}

.menbtn:disabled {
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
    opacity: 0.7;
}

.extended-window {
    width: 400px;
    height: 550px;
    background-color: #e3e4e4;
    border: 1px solid #89B0AE;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 30%;
    cursor: default;
    padding: 1px;
    ;
}

.extended-window .right-buttons {
    width: 40px;
    height: 40px;
}

.extended-window .back {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.extended-window .top-btn {
    padding-left: 3px;
    padding-top: 3px;
}