.notes-container {
  height: 90%;
  background-color: #f0f0f0;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.notes-container::-webkit-scrollbar {
  display: none;
}

#filter {
  margin-left: 4px;
  border-radius: 10px;
  border-color: #dadada;
  outline: none;
  padding: 3px;
}

.filter-area {
  margin-bottom: 5px;
}

.note {
  width: 100%;
  height: 90px;
  padding: 8px;
  border-radius: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease, background-color 0.3s ease;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note.extended {
  height: auto;
  overflow: visible;
  -webkit-line-clamp: unset;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-header h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: bold;
}

.note p {
  margin: 0;
  font-size: 0.9em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  height: 3em;
}

.note.extended p {
  overflow: visible;
  display: block;
  height: auto;
  text-overflow: unset;
}

.note-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.arrow-icon {
  font-size: 1.2em;
  color: #555;
  transition: transform 0.3s ease;
}

.arrow-icon.rotated {
  transform: rotate(180deg);
}

.action-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  margin-left: 4px;
  color: #888888;
  transition: color 0.2s ease;
}

.action-btn:hover {
  color: #000;
}

.action-btn.pinned {
  outline: none;
  color: #000;
}