.container {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  ;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.container h3 {
  margin-bottom: 16px;
  color: #35726f;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.message {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  background-color: #BEE3DB;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  ;
  height: 111px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.message-content {
  width: 100%;
}

.message-content h2 {
  margin: 0;
  font-size: 18px;
  color: #35726f;
}

.message-content p {
  margin: 0;
  font-size: 0.9em;
  width: 100%;
  color: #555;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  height: 3em;
}

.message-content .timestamp {
  color: #888;
  font-size: 12px;
}

.icon {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 100px;
  height: 100px;
  background-color: #FFD6BA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.icon:hover {
  background-color: #FFB684;
}