.card {
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.btn {
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid white;
    background-color: #89B0AE;
}

.btn-group .btn {
    border-radius: 0;
}

.form-control {
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

.icon {
    position: fixed;
    bottom: 5%;
    left: 5%;
    width: 100px;
    height: 100px;
    background-color: #FFD6BA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .icon:hover {
    background-color: #FFB684;
  }