<div class="calculator-container">
    <input type="text" class="calculator-screen" [value]="display" readonly />

    <div class="button-row">
        <button class="btn btn-clear" (click)="clear()">C</button>
        <button class="btn btn-operator" (click)="appendInput('/')">/</button>
    </div>

    <div class="button-row">
        <button class="btn" (click)="appendInput('7')">7</button>
        <button class="btn" (click)="appendInput('8')">8</button>
        <button class="btn" (click)="appendInput('9')">9</button>
        <button class="btn btn-operator" (click)="appendInput('*')">*</button>
    </div>

    <div class="button-row">
        <button class="btn" (click)="appendInput('4')">4</button>
        <button class="btn" (click)="appendInput('5')">5</button>
        <button class="btn" (click)="appendInput('6')">6</button>
        <button class="btn btn-operator" (click)="appendInput('-')">-</button>
    </div>

    <div class="button-row">
        <button class="btn" (click)="appendInput('1')">1</button>
        <button class="btn" (click)="appendInput('2')">2</button>
        <button class="btn" (click)="appendInput('3')">3</button>
        <button class="btn btn-operator" (click)="appendInput('+')">+</button>
    </div>

    <div class="button-row">
        <button class="btn" (click)="appendInput('0')">0</button>
        <button class="btn" (click)="appendInput('.')">.</button>
        <button class="btn btn-equal" (click)="calculate()">=</button>
    </div>
</div>