.clock-container {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navbar button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #89B0AE;
    cursor: pointer;
  }
  
  .navbar button.active {
    background-color: #F0F5F8;
  }
  
  .clock, .alarms, .timer {
    margin-top: 20px;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border: 10px solid #555B6E;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    background-color: #89B0AE;
  }
  
  .hand {
    width: 30%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 20%;
    transform-origin: 100%;
    transform: rotate(0deg);
  }
  
  .alarms .alarm {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #89B0AE;
    border-radius: 10px;
    padding: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .timer .controls button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  