<div *ngIf="notesOpen">
<h1>[ Notes ]</h1>
<div class="header">
    <button class="icon-button">☰</button> 
    <button class="icon-button">🔍</button> 
    <button class="icon-button">⋮</button> 
</div>

<div class="notes-container">
  <div class="note" *ngFor="let note of notes">
    <h2>{{ note.title }}</h2>
    <p *ngFor="let line of note.content">{{ line }}</p>
  </div>
</div>

<button class="add-note" (click)="newNotes()">➕</button>
</div>

<app-new-note *ngIf="newNotesOpen"></app-new-note>