<h1>Good morning,<br>Michael</h1>

<h4>Today's program</h4>

<div class="container">
    <div class="box">
        <h5>[ Tasks ]</h5>
        <form>
            <input type="checkbox" id="task1" name="task1">
            <label for="task1"> Meeting with R.</label><br>
            <input type="checkbox" id="task2" name="task2">
            <label for="task2"> Upload product</label><br>
            <input type="checkbox" id="task3" name="task3">
            <label for="task3"> Shopping</label><br>
            <input type="checkbox" id="task3" name="task3">
            <label for="task3"> Laundry</label><br><br>
        </form>
        
    </div>
    <div class="box">
        <h5>[ Notes ]</h5>
        <div class="note-container">
            <p>Meeting</p>
            <p>Meeting with<br>
                the team on 1st<br>
                of December, to</p>
        </div>
    </div>
    <div class="box">
        <h5>[ Upcoming ]</h5>
        <p>Nov 26, 12:00AM<br><br>

            Presentation<br>
            for your project</p>
    </div>
    <div class="box">
        <h4>Desk</h4>
        <h4>Sleep mode</h4>
    </div>
</div>

<div class="controller">
    <h3>[ Smart devices ]</h3>
    <hr>
</div>