* {
    color: black;
}

h1 {
    margin-top: 68px;
    margin-left: 34px;
}

h4 {
    margin-top: 46px;
    margin-left: 34px;
}

.container {
    margin-left: 25px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.box {
    background-color: #89B0AE;
    padding: 15px;
    border-radius: 8px;
    width: 170px;
    height: 230px;
}

.note-container {
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 20px;
}

.controller {
    background-color: #FFD6BA;
    padding: 20px;
    border-radius: 8px;
    width: 334px;
    margin-left: 45px;
    margin-top: 30px;
}