<div *ngIf="messagesOpen">
  <h1>[ Messages ]</h1>
  <div class="search-bar">
    <span class="icon">🔍</span>
    <input type="search" name="query" placeholder="Search..." required>
  </div>


  <div class="message-list">
    <div class="message" *ngFor="let msg of messages" (click)="toggleChat()">
      <img [src]="msg.avatar" alt="{{ msg.name }}" class="avatar" />
      <div class="message-content">
        <h2>{{ msg.name }}</h2>
        <p>{{ msg.message }} · <span class="timestamp">{{ msg.time }}</span></p>
      </div>
    </div>
  </div>
</div>

<app-conversation *ngIf="chatOpen"></app-conversation>