<div class="task-container" *ngIf="detailsOpen">
  <header>
    <button class="back-button" (click)="back()">
      <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
        <path d="M400-80 0-480l400-400 56 57-343 343 343 343-56 57Z" />
      </svg>
    </button>
    <button class="add-task-button" (click)="newTask()">+ Add task</button>
  </header>

  <br>

  <div class="days">
    <span *ngFor="let day of days" [class.active]="day.active">
      {{ day.label }}
      {{ day.date }}
    </span>
  </div>

  <br><br>

  <div class="timeline">
    <div class="event" *ngFor="let task of tasks">
      <p>{{ task.taskTime }}</p>
      <div class="task-card" [ngClass]="{'completed': task.completed}">
        <div class="task-content">
          <h3>{{ task.title }}</h3>
          <p class="context">{{ task.context }}</p>
        </div>
        <input type="checkbox" [(ngModel)]="task.completed" (change)="toggleCompletion(task)" class="task-checkbox" />
      </div>
    </div>
  </div>
</div>

<app-mobile-tasks *ngIf="tasksOpen"></app-mobile-tasks>
<app-new-task *ngIf="newTaskOpen"></app-new-task>